name: 'Fetch news'

on:
  schedule:
    - cron: "0 6,18 * * *"
  push:
    branches:
      - main

jobs:
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest

    steps:
      - name: Clone the repository
        run: git clone https://github.com/responsible-ai-collaborative/nlp-monitoring.git

      - name: Install dependencies
        run: pip3 install feedparser

      - name: fetch-news.py
        run: python3 nlp-monitoring/fetch-news.py
